[user]
	email = casey.j.raethke@gmail.com
	name = Casey Raethke
[push]
	default = simple
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-highlight | less -x1,4
[interactive]
	diffFilter = diff-highlight
[color]
	ui = true
[mergetool "vimdiff"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[color "diff"]
	meta = 178
