[submodule ".vim/pack/packages/start/nerdtree"]
	path = .vim/pack/packages/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	branch = master
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
	branch = master
[submodule ".vim/pack/packages/start/vim-javascript"]
	path = .vim/pack/packages/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
	branch = master
[submodule ".vim/pack/packages/start/vim-tmux"]
	path = .vim/pack/packages/start/vim-tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
	branch = master
[submodule ".vim/pack/packages/start/vim-jsx-pretty"]
	path = .vim/pack/packages/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
	branch = master
[submodule ".vim/pack/packages/start/detectindent"]
	path = .vim/pack/packages/start/detectindent
	url = git@github.com:tcbbd/detectindent.git
	branch = master
[submodule ".vim/pack/packages/opt/editorconfig-vim"]
	path = .vim/pack/packages/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/pack/packages/start/vim-lsp"]
	path = .vim/pack/packages/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/packages/start/vim-lsp-settings"]
	path = .vim/pack/packages/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule ".oh-my-zsh-custom/plugins/zsh-vi-mode"]
	path = .oh-my-zsh-custom/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
