[user]
	email = casey.j.raethke@gmail.com
	name = Casey Raethke
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	pager = less -x2 -r
[color]
	ui = true
[mergetool "vimdiff"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = vimdiff
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	CredentialStore = gpg
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
